body {
    background-color: #222222;
    color: #bbbbbb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

li {
    padding: 5px;
}

.site {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "navbar navbar navbar"
        ". title ."
        ". contacts ."
        ". main .";
}

.top-bar {
    grid-area: navbar;
    background-color: #888888;
    font-size: 1.2em;
}

.top-bar a:link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.top-bar a:visited {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.top-bar a:hover {
    background-color: #444444;
}

.top-bar a:active {
    background-color: #444444;
}

.title {
    grid-area: title;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Merienda', cursive;
    font-size: 3em;
    color: #50c0ff;
    text-align: center;
}

.top-contacts {
    grid-area: contacts;
    text-align: center;
}

.top-contacts a:link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.top-contacts a:visited {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.top-contacts a:hover {
    background-color: #444444;
}

.top-contacts a:active {
    background-color: #444444;
}

.main-content {
    grid-area: main;
}

.main-content a:link {
    text-decoration: none;
    color: #2080d0;
}

.main-content a:visited {
    text-decoration: none;
    color: #2080d0;
}

.sub-heading {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2060b0;
    text-align: center;
}
