body {
    background-color: #222222;
    text-align: center;
    margin: auto;
    max-width: 1080px;
    color: #bbbbbb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

a {
    color: #2080d0;
    text-decoration: none;
}

h1 {
    font-family: 'Merienda', cursive;
    font-size: 50px;
    color: #50c0ff;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
    color: #2050a0;
}

a.button:link, a.button:visited {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    /* background-color: #006000; */
}

a.button:hover, a.button:active {
    background-color: #444444;
}

table {
    margin: auto;
    text-align: left;
}

th, td {
    padding: 5px;
    max-width: 100%;
}

ul {
    text-align: left;
}

li {
    padding: 5px;
}
