.site {
    display: grid;
    grid-template-areas: 
        "navbar"
        "title"
        "main"
        "contacts";
}

.nav-bar {
    grid-area: navbar;
}

.contacts {
    grid-area: contacts;
}

.main-content {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "title"
        "content";
}

.title {
    grid-area: title;
}

body {
    background-color: black;
    color: #bbbbbb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

table {
    margin: auto;
}

th, td {
    padding: 5px;
    max-width: 100%;
}

hr {
    width: 100%;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    width: 20%;
}

.nav-bar li:hover {
    background-color: #444444;
}

.nav-bar a:link {
    display: inline-block;
    padding: 10px;
    color: aqua;
    text-decoration: none;
}

.nav-bar a:visited {
    color: aqua;
    text-decoration: none;
}

.nav-bar a:active {
    background-color: #444444;
}

.contacts ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    text-align: center;
}

.contacts li {
    width: 33.33%;
}

.contacts a:link {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.contacts a:visited {
    text-decoration: none;
    color: white;
}

.contacts li:hover {
    background-color: #444444;
}

.contacts a:active {
    background-color: #444444;
}

.title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2.8em;
    color: #50c0ff;
    text-align: center;
}

#alt-name {
    font-size: 0.4em;
}

.main-content a:link {
    text-decoration: none;
    color: #2080d0;
}

.main-content a:visited {
    text-decoration: none;
    color: #2080d0;
}

.main-list {
    padding-left: 10px;
}

.main-list li {
    padding: 3px;
}

.sub-heading {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2060b0;
    text-align: center;
}

@media (min-width: 500px) {
    .site {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "navbar   navbar"
            "contacts main";
    }

    .contacts ul {
        display: block;
        /* text-align: right; */
    }

    .contacts li {
        width: unset;
    }
}

@media (min-width: 700px) {
    .site {
        display: grid;
        margin: auto;
        max-width: 1080px;
        grid-gap: 10px;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "navbar   navbar"
            "contacts main";
    }

    .contacts ul {
        display: block;
    }

    .contacts li {
        width: unset;
    }
}
